<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Acerca de</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="../index.html"><img src="../images/logoabba.png" alt="Logo ABBA" height="70" widh="30"></a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Temática</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="contacto.html">Contactos</a></li>
                <li><a href="galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="cuerpo">
            <h1>Acerca de</h1>
            <h2>ÁLBUMES</h2>
        </div>
        <div class="texto cuerpo">
            <p>En toda su carrera musical, ABBA lanzó un total de ocho álbumes, 
            cada uno conteniendo al menos una canción emblemática y dejando huella en la historia de la música pop.
            Así mismo su música sigue siendo celebrada y escuchada por las nuevas generaciones.</p>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Álbum</th>
                        <th>Lanzamiento</th>
                        <th>Canción destacada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ring Ring</td>
                        <td>1973</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Waterloo</td>
                        <td>1974</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABBA</td>
                        <td>1975</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Arrival</td>
                        <td>1976</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABBA: The Album</td>
                        <td>1977</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Voulez-Vous</td>
                        <td>1979</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Super Trouper</td>
                        <td>1980</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>The Visitors</td>
                        <td>1981</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Voyage</td>
                        <td>2021</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
    <footer>
        <div id="final">
            <br />
            Derechos reservados &copy; 2024
            <ul>
                <li><a href="https://www.instagram.com/abba/"><img src="../images/instagram.png" alt="Instagram" /></a></li>
                <li><a href="https://www.facebook.com/ABBA/?locale=es_LA"><img src="../images/facebook.png" alt="Facebook" /></a></li>
                <li><a href="https://x.com/abba?lang=es"><img src="../images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="https://www.youtube.com/@AbbaVEVO"><img src="../images/youtube.png" alt="YouTube" /></a></li>
                <li><a href="https://www.tiktok.com/@abba?lang=es"><img src="../images/tiktok.png" alt="TikTok" /></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>