<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="../index.html"><img src="../images/logoabba.png" alt="Logo ABBA" height="90" widh="30"></a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Temática</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="contacto.html">Contactos</a></li>
                <li><a href="galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="cuerpo">
            <h1>Contacto</h1>
        </div>

    </main>
    <footer>
        <div id="final">
            Derechos reservados &copy; 2024
            <ul>
                <li><a href="https://www.instagram.com/abba/"><img src="../images/instagram.png" alt="Instagram" />Instagram @abba</a></li>
                <li><a href="https://www.facebook.com/ABBA/?locale=es_LA"><img src="../images/facebook.png" alt="Facebook" />Facebook ABBA</a></li>
                <li><a href="https://x.com/abba?lang=es"><img src="../images/twitter.png" alt="Twitter" />Twitter @ABBA</a></li>
                <li><a href="https://www.youtube.com/@AbbaVEVO"><img src="../images/youtube.png" alt="YouTube" />YouTube @OfficialABBA</a></li>
                <li><a href="https://www.tiktok.com/@abba?lang=es"><img src="../images/tiktok.png" alt="TikTok" />TikTok @abba</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>