<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="../index.html"><img src="../images/logoabba.png" alt="Logo ABBA" height="70" widh="30"></a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Temática</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="contacto.html">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="cuerpo">
            <h1>Contacto</h1>
        </div>
        <div class="cuerpo">
            <form>
                <h2>ENCUESTA</h2>
                <div class="input-group">
                    <label>Nombre completo</label>
                    <br />
                    <input type="text" id="txtNombra" required />
                    <br />
                    <br />
                    <label>Correo eléctronico</label>
                    <br />
                    <input type="email" id="txtCorreo" placeholder="nombre@email.com" required />
                    <br />
                    <br />
                    <label>Teléfono:</label>
                    <br>
                    <input type="tel" id="txtTelefono" placeholder="0000-0000" required>
                    <br>
                    <br>
                    <label>¿Ya conocías esta banda?:</label>
                    <br>
                    <select id="slConocer" required>
                        <option value="VENTAS">SELECCIONAR</option>
                        <option value="SOPORTE">SI</option>
                        <option value="RECLAMO">NO</option>
                    </select>
                    <br>
                    <br>
                    <label>¿Cúal es tu canción favorita de ABBA y porque?:</label>
                    <br>
                    <textarea id="txtMensaje" rows="4" cols="60" required></textarea>
                    <br>
                    <br>
                    <button class="btn" type="submit">Enviar</button>
                    <br />
                    <br />
                </div>
            </form>
        </div>
        <br />
        <br />

    </main>
    <footer>
        <div id="final">
            <br />
            Derechos reservados &copy; 2024
            <ul>
                <li><a href="https://www.instagram.com/abba/"><img src="../images/instagram.png" alt="Instagram" /></a></li>
                <li><a href="https://www.facebook.com/ABBA/?locale=es_LA"><img src="../images/facebook.png" alt="Facebook" /></a></li>
                <li><a href="https://x.com/abba?lang=es"><img src="../images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="https://www.youtube.com/@AbbaVEVO"><img src="../images/youtube.png" alt="YouTube" /></a></li>
                <li><a href="https://www.tiktok.com/@abba?lang=es"><img src="../images/tiktok.png" alt="TikTok" /></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>