<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Temática</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="../index.html"><img src="../images/logoabba.png" alt="Logo ABBA" height="70" widh="30"></a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Temática</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="contacto.html">Contactos</a></li>
                <li><a href="galeria.html">Galería</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="cuerpo">
            <h1>Temática</h1>
        </div>
        <h2 class="texto">HISTORIA DE ABBA</h2>
        <div class="historia texto">
            <p>
                La banda sueca <b>ABBA</b> fue creada en Estocolmo en 1972 y esta integrados por dos parejas: Agnetha Fältskog, Björn Ulvaeus, Benny Andersson y Anni-Frid Lyngstad,
                incluso el nombre de dicha banda es un acrónimo de las primeras letras de sus nombres.
                ABBA alcanzó la fama internacional después de ganar el Festival de la Canción de Eurovisión en 1974 con la canción "Waterloo".
                Desde entonces, se convirtieron en un fenómeno global, produciendo una serie de éxitos que dominaron las listas de música en todo el mundo durante la década de los 70 y principios de los 80.
            </p>
            <img class="image" src="../images/abbaintegrantes.jpg" alt="Integrantes de abba" height="250" widh="150">
        </div>
        <br />
        <br />
        <h2 class="texto cuerpo">GIRAS DE ABBA</h2>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th class="largo cabecera">Lugar/fecha</th>
                        <th class="ancho cabecera">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="largo">Suecia (1973-1974)</td>
                        <td class="ancho">
                            Antes de ganar Eurovisión, los miembros de ABBA ya se presentaban juntos en conciertos menores dentro de Suecia.
                            Sin embargo, estos conciertos fueron más bien modestos y no bajo el nombre de ABBA, sino como parte de otros proyectos musicales de los integrantes.
                        </td>
                    </tr>
                    <tr>
                        <td class="largo">Eurovisión 1974 (Brighton, Reino Unido)</td>
                        <td class="ancho">
                            Aunque no fue un concierto, la presentación de ABBA en el Festival de Eurovisión en Brighton, Reino Unido, el 6 de abril de 1974, fue crucial.
                            Su interpretación de "Waterloo" marcó un antes y un después, ya que les permitió ganar el concurso y catapultarlos a la fama internacional.
                        </td>
                    </tr>
                    <tr>
                        <td class="largo">Tour en Europa y Escandinavia (1974-1975)</td>
                        <td class="ancho">
                            Después de Eurovisión, ABBA realizó varios conciertos en Suecia, Dinamarca, Finlandia, Noruega y otros países europeos.
                            Estos fueron algunos de sus primeros conciertos en escenarios más grandes, con una audiencia que crecía rápidamente gracias al éxito de "Waterloo".
                        </td>
                    </tr>
                    <tr>
                        <td class="largo">Tour por Europa (1977)</td>
                        <td class="ancho">
                            En 1977, ABBA realizó su primer gran tour por Europa, incluyendo su primer concierto en Londres en el Royal Albert Hall, donde los boletos se agotaron en horas.
                            Este tour también incluyó presentaciones en Alemania, los Países Bajos, y otros países europeos.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <h2 class="texto cuerpo">CANCIÓN WATERLOO</h2>
        <br />
        <br />
        <div class="audio">
            <audio controls>
                <source src="../assets/waterloo.mp3" type="audio/mpeg">
            </audio>
        </div>
        <br />
        <br />


    </main>
    <footer>
        <div id="final">
            <br />
            Derechos reservados &copy; 2024
            <ul>
                <li><a href="https://www.instagram.com/abba/"><img src="../images/instagram.png" alt="Instagram" /></a></li>
                <li><a href="https://www.facebook.com/ABBA/?locale=es_LA"><img src="../images/facebook.png" alt="Facebook" /></a></li>
                <li><a href="https://x.com/abba?lang=es"><img src="../images/twitter.png" alt="Twitter" /></a></li>
                <li><a href="https://www.youtube.com/@AbbaVEVO"><img src="../images/youtube.png" alt="YouTube" /></a></li>
                <li><a href="https://www.tiktok.com/@abba?lang=es"><img src="../images/tiktok.png" alt="TikTok" /></a></li>
            </ul>
        </div>
    </footer>

</body>
</html>